
build/
install/
log/


__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile


.vscode/
.idea/
*.code-workspace


.DS_Store
Thumbs.db


*.yaml~
*.json~
*.pickle
*.log
